Repository Al-Andrew/SmartHouse-Builder, pull requests merged in 2022-05, with the labels that each got.

#64 Connect DB + implement endpoints
  BackEnd/Forum/.gitignore
  BackEnd/Forum/.mvn/wrapper/maven-wrapper.jar
  BackEnd/Forum/.mvn/wrapper/maven-wrapper.properties
  BackEnd/Forum/mvnw
  BackEnd/Forum/mvnw.cmd
  BackEnd/Forum/pom.xml
  BackEnd/Forum/src/main/java/backend/post/ForumBackendApplication.java
  BackEnd/Forum/src/main/java/backend/post/Post.java
  BackEnd/Forum/src/main/java/backend/post/PostConfig.java
  BackEnd/Forum/src/main/java/backend/post/PostController.java
  BackEnd/Forum/src/main/java/backend/post/PostRepository.java
  BackEnd/Forum/src/main/java/backend/post/PostService.java
  BackEnd/Forum/src/main/java/basic/structure/PostItemReview.java
  BackEnd/Forum/src/main/java/exceptions/IllegalAddingPost.java
  BackEnd/Forum/src/main/java/exceptions/InvalidFavoritePost.java
  BackEnd/Forum/src/main/java/exceptions/InvalidLength.java
  BackEnd/Forum/src/main/java/exceptions/InvalidTag.java
  BackEnd/Forum/src/main/java/working/structure/Comment.java
  BackEnd/Forum/src/main/java/working/structure/Favorite.java
  BackEnd/Forum/src/main/java/working/structure/Forum.java
  BackEnd/Forum/src/main/java/working/structure/PostItemReview.java
  BackEnd/Forum/src/main/java/working/structure/PostQuestion.java
  BackEnd/Forum/src/main/java/working/structure/Report.java
  BackEnd/Forum/src/main/java/working/structure/Tag.java
  BackEnd/Forum/src/main/resources/application.properties
  BackEnd/Forum/src/test/java/forum/demo/ForumBackendApplicationTests.java
  Docs/Tutorials/Connect to database/Connect to database MS SQL Server.docx
  Docs/Tutorials/Javaspring/~$troduction in Java Spring Boot.docx
Labels: Backend, Echipa 3, Sprint 2

#72 Forum(Homepage) UI
  FrontEnd/.idea/.gitignore
  FrontEnd/.idea/libraries/Dart_Packages.xml
  FrontEnd/.idea/libraries/Dart_SDK.xml
  FrontEnd/.idea/libraries/Flutter_Plugins.xml
  FrontEnd/.idea/modules.xml
  FrontEnd/.idea/vcs.xml
  FrontEnd/.metadata
  FrontEnd/README.md
  FrontEnd/analysis_options.yaml
  FrontEnd/flutter_01.png
  FrontEnd/frontend.iml
  FrontEnd/lib/forum/ForumHomePage.dart
  FrontEnd/lib/forum/GradientText.dart
  FrontEnd/lib/forum/PostsTabel.dart
  FrontEnd/lib/forum/SearchBar.dart
  FrontEnd/lib/main.dart
  FrontEnd/test/widget_test.dart
Labels: Frontend, Echipa 3, Sprint 2

#93 Done with Issue #92
  BackEnd/Forum/src/main/java/backend/post/PostController.java
  BackEnd/Forum/src/main/java/forum/ForumBackendApplication.java
  BackEnd/Forum/src/main/java/forum/exceptions/IllegalAddingPost.java
  BackEnd/Forum/src/main/java/forum/exceptions/InvalidFavoritePost.java
  BackEnd/Forum/src/main/java/forum/exceptions/InvalidLength.java
  BackEnd/Forum/src/main/java/forum/exceptions/InvalidTag.java
  BackEnd/Forum/src/main/java/forum/post/Post.java
  BackEnd/Forum/src/main/java/forum/post/PostConfig.java
  BackEnd/Forum/src/main/java/forum/post/PostController.java
  BackEnd/Forum/src/main/java/forum/post/PostRepository.java
  BackEnd/Forum/src/main/java/forum/post/PostService.java
  BackEnd/Forum/src/main/java/working/structure/Favorite.java
  BackEnd/Forum/src/main/java/working/structure/Forum.java
  BackEnd/Forum/src/main/java/working/structure/PostItemReview.java
  BackEnd/Forum/src/main/java/working/structure/PostQuestion.java
  BackEnd/Forum/src/main/java/working/structure/Report.java
Labels: Backend, Echipa 3, Forum, Sprint 3

#158 Integrate BackEnd with FrontEnd (Post and Comment)
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/comment/Comment.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/comment/CommentController.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/comment/CommentRepository.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/comment/CommentService.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/post/Post.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/post/PostConfig.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/post/PostController.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/post/PostRepository.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/post/PostService.java
  BackEnd/API/src/main/java/working/structure/PostItemReview.java
  BackEnd/API/src/main/resources/application.properties
  FrontEnd/lib/forum/ForumGlobals.dart
  FrontEnd/lib/forum/classes/CommentClass.dart
  FrontEnd/lib/forum/classes/PostClass.dart
  FrontEnd/lib/forum/screens/MyPosts.dart
  FrontEnd/lib/forum/utilities/PostsTable.dart
  FrontEnd/lib/forum/utilities/buttons/ButtonBack.dart
Labels: Frontend, Backend, Echipa 3, Forum, Sprint 3

#215 Register/Login API
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/user/UserController.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/user/UserRepository.java
  BackEnd/API/src/main/java/com/smarthousebuilder/forum/user/UserService.java
Labels: Backend, Echipa 1
